<?xml version='1.0' encoding='utf-8'?>
<widget id="com.goaldenhour.app" version="3.1.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Goalden Hour</name>
    <description>
      Plan the things that matter to you
    </description>
    <author email="info@goaldenhour.com" href="http://www.goaldenhour.com/">
        Goalden Hour
    </author>
    <access origin="*" />

</widget>