<div class="padding">
  <div id="goal_button" class="item item-divider item-icon-left">
    <i class="icon ion-ios7-sunny"></i>
    Goals
  </div>
  <ul id="goal_list" class="list">
    <li id="goal_add" class="item item-icon-left"> 
      <i class="icon ion-plus-circled"></i>
      Add a goal...
    </li>
  </ul>
  <div id="task_button" class="item item-divider item-icon-left">
    <i class="icon ion-clipboard"></i>
    Tasks
  </div>
  <ul id="task_list" class="list">
    <li id="task_add" class="item item-icon-left"> 
      <i class="icon ion-plus-circled"></i>
      Add a task...
    </li>
  </ul>
  <div id="deadline_button" class="item item-divider item-icon-left">
    <i class="icon ion-ios7-timer-outline"></i>
    Deadlines
  </div>
  <ul id="deadline_list" class="list">
    <li id="deadline_add" class="item item-icon-left"> 
      <i class="icon ion-plus-circled"></i>
      Add a deadline...
    </li>
  </ul>
  <div id="leisure_button" class="item item-divider item-icon-left">
    <i class="icon ion-headphone"></i>
    Leisure
  </div>
  <ul id="leisure_list" class="list">
    <li id="leisure_add" class="item item-icon-left"> 
      <i class="icon ion-plus-circled"></i>
      Add a leisure activity...
    </li>
  </ul>
</div>
